abm_strategic_model1/*.pyc
abm_strategic_model1/*sublime*
abm_strategic_model1/my_paras.py
abm_strategic_model1/my_paras_iter.py
abm_strategic_model1/my_paras/*
scripts/*.pyc
libs/*.pyc
libs/YenKSP/*.pyc
interface/*.pyc
*sublime*
abm_strategic_model1/Model2.sublime-workspace
.ipynb*
*.ipynb
scripts/paras_sweep_*
scripts/.sync
.sync
scripts/strategic_simulations*
doc/*.synctex.gz
doc/*.toc
doc/*.log
doc/*.aux
doc/*.html
tests/*.pyc
tests/*.pic
tests/example/results_example
*.pyc
story_maker/*.pyc
story_maker/test*.ui
*.orig
*sync-conflict*